body {
    background-color: white;
    font-family: Arial, Arial, Helvetica, sans-serif;
    text-align: center;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.calculadora {
    background-color: white;
    width: 350px;
    margin: 50px, auto;
    border: 1 solid rgb(253, 250, 250);
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.fila-buttons {
    background-color: white;
    color: white;
    display: center;
    border: none;
    margin: 3px;
    border-radius: 20px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    height: 20px;
    font: size 30px;
}
input[type="text"] {
    width: 30%;
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
    background-color: rgba(251, 244, 244, 0);
    grid-column: 1/-1;
    padding: 1.5rem;
    font-family: monospace;
}